 <% if flash[:notice] %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>
 <p>
 <strong>Title:</strong>
 <td><%= @book.title %></td>
 </p>

<p>
<strong>Body:</strong>
 <td><%= @book.body %></td>
</p>
<p>
   <td> <%= link_to 'Edit', edit_book_path(@book.id) %></td>
   <a class="back" href="/books">Back</a> 
</p>
